
<html>
<head>

<title>Pool CSS</title>
<style> 
	body {
		background-image: url('concrete.jpg');
		font-family: sans-serif;
	}
	
	h1 {
		text-align: center;
		font-size: 36px;
		color: #0077ff;
	}
	img {
		border-radius: 10px;
		display: block;
		height: 400px;
		max-width: 100%;
		margin: auto;
		
	}
	
	.container {
		position: relative;
	}

	.topleft {
		background-image: url('swimmer1.jpg');
		background-size: cover;
		position: absolute;
		top: 8px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer1 10s;
	}

	@keyframes swimmer1 {
    0%   {left: 0px;}
    100% {left: 800px;}
	}
	.center {
		background-image: url('swimmer2.jpg');
		background-size: cover;
		position: absolute;
		top: 150px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer2 14s;
	}
	
	@keyframes swimmer2 {
    0%   {left: 0px;}
    100% {left: 800px;}
	}
	
	.bottomleft {
		background-image: url('swimmer3.jpg');
		background-size: cover;
		position: absolute;
		bottom: 8px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer1 10s;
	}
	
	@keyframes swimmer3 {
    0%   {left: 0px;}
    100% {left: 800px;}
	}
</style>
</head>
</html>
	
