*{
padding : 0;
margin : 0;
border : 0;
}
body{

}
.window{
display : block;
width : 100vw;
overflow : auto;
margin : 0;
background-image: url("concrete.jpg");
height : 110vh;
width : 100vw;

}

.concrete{

}
.title{
	text-align: center;
	color: black;
	font-size: 32px;
	letter-spacing: 3px;
	font-weight: bold;
}
.lanes{
background-image: url("water.jpg");
float : left;
clear : none;
min-width : 100px;
min-height : 100px;
}
.lane1{

float : none;
clear : both;
height : 16.3vh;
width : 80vw;
border-bottom: .5vh yellow dashed;
}
.lane2{

float : none;
clear : both;
height : 16.3vh;
width : 80vw;
border-bottom: .5vh yellow dashed;
}
.lane3{

float : none;
clear : both;
height : 16.3vh;
width : 80vw;
border-bottom: .5vh yellow dashed;
}
.lane4{

float : none;
clear : both;
height : 16.3vh;
width : 80vw;
border-bottom: .5vh yellow dashed;
}
.lane5{

float : none;
clear : both;
height : 16.3vh;
width : 80vw;
border-bottom: .5vh yellow dashed;
}
.lane6{

float : none;
clear : both;
height : 16.3vh;
width : 80vw;

}
.lane1pic {
		background-image: url('swimmer1.jpg');
		background-size: cover;
		position: absolute;
		top: 40px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer1 10s;
	}

	@keyframes swimmer1 {
    0%   {left: 0%;}
    100% {left: 91%;}
	}
	.lane2pic {
		background-image: url('swimmer2.jpg');
		background-size: cover;
		position: absolute;
		top: 150px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer1 14s;
	}
	
	.lane3pic {
		background-image: url('swimmer3.jpg');
		background-size: cover;
		position: absolute;
		top: 260px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer1 11s;
	}
	.lane4pic {
		background-image: url('swimmer4.jpg');
		background-size: cover;
		position: absolute;
		top: 375px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer1 12s;
	}
	.lane5pic {
		background-image: url('swimmer5.jpg');
		background-size: cover;
		position: absolute;
		top: 485px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer1 13s;
	}
	.lane6pic {
		background-image: url('swimmer6.jpg');
		background-size: cover;
		position: absolute;
		top: 600px;
		left: 16px;
		border-radius: 50px;
		width: 100px;
		height: 100px;
		animation: swimmer1 12s;
	}
	
	@keyframes swimmer3 {
    0%   {left: 0%;}
    100% {left: 91%;}
	}
.concrete{
background-image: url("concrete.jpg");
float : left;
clear : none;
height : 110vh;
width : 10vw;
}